@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%; /* Garantir que a altura ocupe toda a tela */
    width: 100%;  /* Garantir que a largura ocupe toda a tela */
    background-color: black;
}


main {
    height: 100%; /* Manter 100% para garantir que ocupe toda a altura disponível */
    position: relative;
    background: url("../imagens/pau.jpg") no-repeat;
}

/*iframe {
    position: relative;
    top: 500%;
    left: 300%;

}/*

/* section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 500px;
    width: 311px;
    background-color: blanchedalmond;
    background: url("") no-repeat center center; /* Ajustado para centralizar a imagem */
    background-size: contain; /* Garantir que a imagem seja ajustada corretamente dentro do container */
} /*
